@charset "utf-8";

:root{
    --color-gray: #e9e9e9;
    --color-gray2: #ededed;
    --color-gray3: #a5a3a6;
    --color-gray4: #e9e9e9;
    --color-gray5: #444444;
    --color-gray6: #F1F1F1;
    --color-blue: #255984;
    --color-blue2: #133754; 
    --color-blue3: #ADD8E6;
    --color-blue4: #00A8FF;
    --color-blue5: #007bf5;
    --color-white: #ffffff;
    --color-black: #000000;
    --color-red: #c50e0e;
}


body{
    color: black;
    background-color: var(--color-gray5);
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
}

img#logo{
    display: block;
    position: absolute; 
    max-width: 50%; /* Garante que a imagem não exceda o tamanho da tela */
    left: 50%; /* Move a imagem para o meio da tela */
    transform: translateX(-50%); /* Ajusta a posição para centralizar */
    width: 10%;
}
video {
    width: 1420px; /* Define a largura do vídeo */
    height: 500px;  /* Define a altura do vídeo */
    display: block;
    pointer-events: none; /* Define para que nenhum botão apareça quando passar o mouse em cima */
  }

  nav#projetos img {
    left: 50%; /* Move a imagem para o meio da tela */
    width: 400px; /* Define a largura das imagens */
    height: 400px; /* Mantém a proporção original */
    margin: 50px 50px; /* Adiciona espaço ao redor das imagens */
    border: var(--color-black) 1px;
  }